.directory
.stash
cmake-build-debug/*

# GreenHouse
*.jsc
target.cfg
*.fingerprint
accessorder
lastImports

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

#Google tests
build
out_coverage

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Miscellaneous
# vimdiff *.orig files
*.orig
ZetaSurgical/.vs/CMake Overview
ZetaSurgical/.vs/launch.vs.json
ZetaSurgical/.vs/ProjectSettings.json
ZetaSurgical/.vs/slnx.sqlite
ZetaSurgical/.vs/VSWorkspaceState.json
ZetaSurgical/.vs/ZetaSurgical/v16/.suo
ZetaSurgical/.vs/ZetaSurgical/v16/Browse.VC.db
ZetaSurgical/.vs/ZetaSurgical/v16/Browse.VC.db-shm
ZetaSurgical/.vs/ZetaSurgical/v16/Browse.VC.db-wal
ZetaSurgical/.vs/ZetaSurgical/v16/Browse.VC.opendb
.vs/
