*.pro.user*
.directory
CMakeLists.txt.user*
*.fingerprint
*.ghcomp
build*
*.qmlc
*.jsc
.stash
target.cfg
src/ZetaSurgical/*
src/Simulator/init.cpp
lib/AppCore/ZetaSurgical*
lib/AppCore/Imports/*
lib/AppCore/imports.qrc
lib/GreenHouse/*
wizards/*
tests/GreenHouse/
tests/ZetaSurgical*/*
!tests/ZetaSurgical*/*_impl.hpp
